{% load static %}
{% comment " Базовый шаблон для всего проекта " %}{% endcomment %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        My Python Blog
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body style="background-color: AliceBlue;">

   <header>
    {% comment "{% block nav %}
        {% include 'menu.html' %}
    {% endblock %}" %}{% endcomment %}
   </header> 
   <main>
    {% block content %}
    {% endblock  %}
   </main>
   <footer>
     {% block footer %}
     Все права защишены. Python 422. Академия Топ. 2025г.
     {% endblock %}
   </footer>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
   <script src="{% static 'js/script.js' %}"></script>
</body>
</html>